*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    

}

.menu{
    background-color: white;
    border-bottom:3px solid rgb(184, 0, 0);
    height: 70px;
    align-items: center;
    display: flex;
    font-family:'Hind Siliguri', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: rgb(184, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 70px;
    text-align: center;
    transform: scale(2,1);
    letter-spacing: -3px;
    margin-top: -5px;

 }


.logo2{
    margin-left: 110px;
    margin-top: 3px;
    background-color: white;
}

.menu1{
    text-align:right;
    flex: auto;
    margin-right: 8px;
    background-color: white;
}

.menu a{
    color: rgb(68, 67, 67);
    text-decoration: none;
    font-size: 15px;
    padding: 8px;

}

.menu1 a:hover{
    color:rgb(19, 19, 19);
    border-top: 2px solid rgb(201, 6, 6);
    transition: all .5s;


}

#botao1{
    background: rgb(201, 6, 6);
    padding: 10px 20px;
    color: white;
    border-radius: 35px;
    font-size: 14px;
}

#botao1:hover{
    border: none;
    background-color: rgb(145, 4, 4);
    color: white;
    transition: all .5s;

}

#check{
    display: none;
}




.menuhamburguer{
    margin-left: 15px;
    float: left;
    cursor: pointer;
    padding: 8px 5px;
    
    
}





label[for="check"]{
    font-size: 20px;
    position: relative;
    padding: 20px 10px;
    height: 10px;
    cursor: pointer;
       
    
}

.menu2{
    position: absolute;
    margin-top: 20px;
    display: block;
    opacity:0;
    transition: all .5s;
    visibility: hidden;
    margin-left: 20px;


    
 }

.menu2 li{
    list-style-type: none;
    background-color:  white;
    padding: 30px;
    text-decoration: none;
    border-bottom: 1px solid rgb(184, 0, 0);
    margin-left: -5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.9;
}

.menu2 li a{
    margin-left: -15px;
    font-size: 18px;
    color:rgb(131, 129, 129);


}


.menu2 li:hover{
    background-color: rgb(184, 0, 0);
    transition: all 0.4s;

}

.menu li a:hover{
    color: white;
}


#check:checked ~ .menu2{
    transition: all 0.6s;
    opacity: 1;
    visibility: visible;
}

.header{
    background-color: rgb(255, 255, 255);
    
    width: 100%;

}


.banner1 img{
    width: 100%;
    margin-top: 30px;
}

.imgcarros{
    display: flex;
    justify-content: space-between;  
    margin-top: -50px;
     

}

.imgcarros img{
     width: 85%;
     padding: 8px;
       
    
}

 .imgcarros img:hover{
    width: 80%;
    transition: all 0.3s;
    opacity: 0.8;


 }

 #wrv1{
     width: 95%;
     
 }

 #wrv1:hover{
     width: 92%;
}

#cityh{
    margin-top:-10% ;
}

#citys{
    margin-top:-6% ;
}

#civic{
    margin-top:-2% ;
}


.legendascarros{
    display: flex;
    justify-content:space-between;
    align-items: top;
    margin-left: 3%;
    margin-right: 3%;


}

.legendascarros h3{
    width: 100%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;

}

.legendas{
    display: flex;
    justify-content:space-between;
    align-items: top;
    margin-left: 3%;
    margin-right: 3%;


}

.legendas h3{
    width: 100%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;

}

#lfit{

    margin-left: 70%;

}

#lcrv{

    margin-left: 160%;


}

#lcivic{

    margin-left:-60%;

}

#laccord{

    margin-left: 90%;

}

#lcityh{

    margin-left: 35%;


}

#lcitys{

    margin-left: -5%;

}

#lwrv{

    margin-left: -1%;


}

section{
    
  width: 100%;
  
}

section h3{
    font-size: 30px;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(184, 0, 0);
    text-align: center;
    font-weight:800;
    padding: 4%;
    margin-top: 5px;
    transform:scale(1,1);
    width: 100%;

    

    
}

.banner2 img{
     width: 100%;
    

}

.serviços{
    display: flex;
    flex-flow: row wrap;
    width: 100%;




}
    

.serv1{

    background-color: rgb(46, 46, 46);
    height: 400px;
    margin-top: -4px;
    text-align: center;
    width: 33.3%;
    
}

.serv2{

    background-color: rgb(46, 46, 46);
    height: 400px;
    margin-top: -4px;
    text-align: center;
    width: 33.3%;
    
}
.serv3{

    background-color: rgb(46, 46, 46);
    height: 400px;
    margin-top: -4px;
    text-align: center;
    width: 33.3%;
    
}


.serv1 img, .serv2 img ,.serv3 img{
    margin-top: 20px;

}

.serv1 h3, .serv2 h3,.serv3 h3{
    color: white;
    font-size: 18px;
    font-family:'Hind Siliguri', sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 10px;

}

.serv1 p, .serv2 p,.serv3 p{
    color: white;
    font-size: 15px;
    font-family:'Hind Siliguri', sans-serif;
    text-align: center;
    padding: 10px 90px;
    margin-top: 5%;
    width: 100%;
    margin-bottom: 10%;

}

.serv1 a, .serv2 a ,.serv3 a{
    color: white;
    background-color:rgb(184, 0, 0) ;
    font-family:'Hind Siliguri', sans-serif;
    text-align: right;
    padding: 15px 60px;
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    
}

.serv1 a:hover, .serv2 a:hover,.serv3 a:hover{
    background-color: rgb(83, 6, 6);
    width: 100%;


    
}

.rodape{
    display:block;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: 300px;
 
    background-image:linear-gradient(white,rgb(209, 159, 159))

}

.rodape h1{
 
       
    color: rgb(184, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    transform: scaleX(1.5);
    width: 100%;
    
    
    
     
   
}

.rodape p,b{
    text-align: center;
    margin-top: 20px;
    font-family:'Hind Siliguri', sans-serif;
    font-size: 15px;
    width: 100%;

}

.whats{
    
    position: fixed;
    bottom: 8px;
    
}