*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.menu{
    background-color: white;
    border-bottom:3px solid rgb(184, 0, 0);
    height: 80px;
    align-items: center;
    display: flex;
    font-family:'Hind Siliguri', sans-serif;
}

/*#hamburguer{
    display: none;
}*/

.menuhamburguer{
    background-color: rgb(194, 194, 196);
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    
}

label[for="hamburguer"]{
    font-size: 25px;
}

.menu2{
    display: flex;
    background-color: rgb(194, 194, 196);
    flex-direction: column;
    padding: 8px;
    width:300px;
    margin-left: 10px;

   
}

.menu2 a{
    color: rgb(68, 67, 67);
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid rgb(184, 0, 0);

}

.menu2 a:hover{
    background-color: rgb(227, 227, 235) ;
}

.logo{
    color: rgb(184, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 100px;
    text-align: center;
    transform: scale(2,1);
    letter-spacing: -3px;

 }


.logo2{
    margin-left: 110px;
    margin-top: 10px;
}

.menu1{
    text-align:right;
    flex: auto;
    margin-right: 8px;
}

.menu a{
    color: rgb(68, 67, 67);
    text-decoration: none;
    font-size: 15px;
    padding: 8px;

}

.menu1 a:hover{
    color:rgb(19, 19, 19);
    border-top: 2px solid rgb(201, 6, 6);

}

#botao1{
    background: rgb(201, 6, 6);
    padding: 10px 20px;
    color: white;
    border-radius: 35px;
    font-size: 14px;
}

#botao1:hover{
    border: none;
    background-color: rgb(145, 4, 4);
    color: white;
}

#hamburguer:checked ~ .menu2{
    margin-top: 0;

}