*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.menu{
    background-color: white;
    border-bottom:3px solid rgb(184, 0, 0);
    height: 70px;
    align-items: center;
    display: flex;
    font-family:'Hind Siliguri', sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: rgb(184, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 100px;
    text-align: center;
    transform: scale(2,1);
    letter-spacing: -3px;
    background-color: white;

 }


.logo2{
    margin-left: 110px;
    margin-top: 5px;
    background-color: white;
}

.menu1{
    text-align:right;
    flex: auto;
    margin-right: 8px;
    background-color: white;
}

.menu a{
    color: rgb(68, 67, 67);
    text-decoration: none;
    font-size: 15px;
    padding: 8px;

}

.menu1 a:hover{
    color:rgb(19, 19, 19);
    border-top: 2px solid rgb(201, 6, 6);
    transition: all .5s;


}

#botao1{
    background: rgb(201, 6, 6);
    padding: 10px 20px;
    color: white;
    border-radius: 35px;
    font-size: 14px;
}

#botao1:hover{
    border: none;
    background-color: rgb(145, 4, 4);
    color: white;
    transition: all .5s;

}

#check{
    display: none;
}




.menuhamburguer{
    background-color: rgb(194, 194, 196);
    margin-top: px;
    margin-left: 20px;
    float: left;
    cursor: pointer;
    padding: 8px 5px;
    
    
}

.menuhamburguer:hover{
    background-color: rgb(201, 6, 6);
    color: white;
    
}



label[for="check"]{
    font-size: 20px;
    position: relative;
    padding: 20px 10px;
    height: 10px;
    cursor: pointer;
       
    
}

.menu2{
    position: absolute;
    margin-top: 40px;
    display: block;
    opacity:0;
    transition: all .5s;
    visibility: hidden;


    
 }

.menu2 li{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    text-decoration: none;
    border-bottom: 1px solid rgb(184, 0, 0);
    margin-left: -5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.8;
}

.menu2 li a{
    margin-left: -15px;
    font-size: 18px;
    color:black;


}


.menu2 li:hover{
    background-color: rgb(184, 0, 0);
    transition: all 0.4s;

}

.menu li a:hover{
    color: white;
}


#check:checked ~ .menu2{
    transition: all 0.6s;
    opacity: 1;
    visibility: visible;
}

.header{
    background-color: rgb(255, 255, 255);
    height:auto;
    display: flex;
    flex-flow: row;
}


.img-headline{
    width: 100%;
    height: -350%
       

}

.img-headlinecarros{
    display: flex;
    margin-top: -50px;
    justify-content: space-between;  
     

}

 .img-headlinecarros img{
     width: 85%;
     padding: 8px;
     
     
    
}

 .img-headlinecarros img:hover{
    width: 80%;
    transition: all 0.3s;
    opacity: 0.8;


 }

 #wrv1{
     width: 95%;
     
 }

 #wrv1:hover{
     width: 92%;
}


.legendas{
    display: flex;
    justify-content:space-between;
    align-items: top;
    margin-left: 3%;
    margin-right: 3%;


}

.legendas h3{
    width: 100%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;

}

section{
    
    height: 800px;
    display: inline-block;
    width: 100%;
    text-align: center;

}

section h3{
    font-size: 30px;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(184, 0, 0);
    text-align: center;
    font-weight:800;
    padding: 4%;
    margin-top: 5px;
    transform:scale(1,1);
    

    
}

.servicos{
    display: inline-block;    
    margin: 0%;
    width: 100%;
    height: 75%;
    margin-top:-25px;

    background-image: url("imagens/banner5.jpg");
    background-position: top;
    background-size: cover;
}

.card{
    display: inline-block;
    
   
    
    width: 100%;
    height: 100%;
}

.card2{
    display: flex;
    justify-content: space-around;
    background-color: rgb(46, 46, 46);
    height: 400px;
    margin-top: -4px;
    text-align: center;
    
}

.card2 .card21{
    background-color:rgb(46, 46, 46);
    
    text-align: center;
    margin-top: 50px;


    
}

.card21 img{
    margin-top: 20px;
}

.card21 h3{
    color: white;
    font-size: 18px;
    font-family:'Hind Siliguri', sans-serif;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.card21 p{
    color: white;
    font-size: 15px;
    font-family:'Hind Siliguri', sans-serif;
    text-align: center;
    padding: 10px 110px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.card21 a{
    color: white;
    background-color:rgb(184, 0, 0) ;
    font-family:'Hind Siliguri', sans-serif;
    text-align: right;
    padding: 15px 60px;
    list-style-type: none;
    text-decoration: none;
}

.card21 a:hover{
    background-color: rgb(83, 6, 6);
    
}

footer{
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-direction: column;
    height: 250px;
    width: 1339.5px;
    margin-top: 350px;
    text-align: center;
    background-image:linear-gradient(white,rgb(209, 159, 159))

}

footer h1{
    
    color: rgb(184, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:right;
    margin-top: 20px;
    width: 735px;
    
}

footer p,b{
    text-align: center;
    margin-top: 20px;
    font-family:'Hind Siliguri', sans-serif;
    font-size: 15px;
}

.whats{
    
    position: fixed;
    bottom: 8px;
    right: 8px;
}